*~
*.6
8.out
.nfs*
_*
6.out
#*
example/hello/hello
example/unionfs/unionfs
example/autounionfs/autounionfs
example/loopback/loopback
example/multizip/multizip
example/bulkstat/bulkstat
example/zipfs/zipfs
# test binaries
*.test
benchmark/bulkstat.bin
benchmark/bulkstat/main
benchmark/cstatfs
MA_custom_filesystems/logs/logfile*.csv
MA_custom_filesystems/logs/classifier.log
*swp
.idea/
MA_custom_filesystems/rename_fs/rename_fs
